.metric { padding: 20px; }
.metric h2 { margin-top: -5px; margin-bottom: 8px; font-weight: bold; color: #333; }
.metric h3 { font-size: 0.9em; margin: 0; margin-bottom: 0.3em; line-height: 1.2; text-transform: uppercase; color: #999; font-weight: bold; width: 100%; }
.metric h3 .units { text-transform: none; }
.metric .number { display: block; font-family: monospace; line-height: 1; color: #333; background: none; border: none; padding: 0; font-size: 60px; margin-bottom: 5px; }
.metric .number.key { font-size: 80px; color: #000; font-weight: bold; }
.metric .number.major {}
.metric .number.minor { font-size: 1.67em; }
.metric hr { border-top: 2px solid #999; }
.metric .spark { padding: 0; }
.metric .spark svg { margin: 0; }
.metric .gauge { padding: 0; }
.metric .gauge svg { margin: 0; }
.metric .row { margin: 0; }
.gauge .needle { stroke: none; fill: #444; }
