.sky { padding: 20px; height: 100%; }
.sky h2 { margin-top: -5px; margin-bottom: 8px; font-weight: bold; color: #333; }
.skyholder { height: 90%}

.horizon { fill: #f7ffff; stroke: #999; stroke-width: 2; }
.zenith { stroke: #c22; stroke-width: 1; shape-rendering: crispEdges; opacity: 0.4; }
.sky .grid { fill: none; stroke: #cce0e0; stroke-width: 1; stroke-dasharray: 4,7; }
.sky .sat circle { fill: #c2f; stroke: #a0d; stroke-width: 1; opacity: 0.6}
.sky .label { fill: #f44; font-size: 20px; }
.sky .warn { fill: none; stroke: #c22; stroke-width: 1; opacity: 0.6; }
