.sky { padding: 20px; height: 100%; }
.sky h2 { margin-top: -5px; margin-bottom: 8px; font-weight: bold; color: #333; }
.skyholder { height: 90%}

.horizon { fill: #f7ffff; stroke: #999; stroke-width: 2; }
.zenith { stroke: #c22; stroke-width: 1; shape-rendering: crispEdges; }
.sky .grid { fill: none; stroke: #cce0e0; stroke-width: 1; stroke-dasharray: 4,7; }
